.me-link{

}
.me-link:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.doesntExist{
  display:none ;
}
.low{

  background: #ffe6be

}
.med{
 background: #ffc19c

}
.high{
  background: #ff8684
}
